html {
	height: 100%;
	width: 100%;
	box-sizing: border-box;

}

h1 {
	height: 50px;
	width: 100%;
	text-align: center;
	margin: 0px;
	color: lightgray; /* Color for text of header */
	background-color: darkblue; /* Color for background of header */
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 15px solid #444; /* Color for bottom border of header */
	position: fixed;
	display: block;
	clear: both;
	z-index: 1;
}

body {
	background-color: lightgray;
	min-height: 100%;
	height: 100%;
	box-sizing: border-box;
}

.nav {
	position: fixed;
	top: 105px;
	left: 0;
	background-color: #444; /* Color for background of nav */
	margin-top: 0;
	width: 16%;
	height: 100%;
	float: left;
	padding: 2px 2px 0 2px;
	box-sizing: border-box;
	border-right: 1px solid #000;
}

ul {
	display: table;
	width: 100%;
	padding: 0;
	margin: 0;
/*	margin-bottom: 0;*/
}

.nav li {
	list-style-type: none;
	padding: 20px 5px 20px;
	font-weight: bold;
	font-family: "Georgia";
	font-weight: normal;
	text-shadow: 1px 1px 0px #444;
	background-color: #333;
	font-size: 2em;
	border-radius: 10px;
	border-bottom: 4px solid #222; /* Color for borders of nav items */
	border-right: 4px solid #222;
	box-sizing: border-box;
	transition-duration: .2s;
}

.nav li:hover {
	background-color: #111;
}

.main {	
	float: right;
	width: 84%;
	height: 100%;
	background-color: floralwhite; /* Color for background of main */
	clear: both;
}

.main p {
	padding-left: 5%;
}

.gallery {
	padding: 30px;
	box-sizing: border-box;
}

.gallery li {
	list-style-type: none;
	display: inline-block;
	margin: 30px;
}

.gallery img {
	width: 175px;
	height: 175px;
	border-radius: 175px;
	border: 10px solid #000;
	-webkit-duration: .1s;
	-moz-duration: .1s;
	-o-duration: .1s;
	transition-duration: .1s;
	transition-timing-function: ease-out;
}

.caption {
	width: 175px;
	clear: both;
	position: relative;
	display: block;
	text-align: center;
	padding-left: 10px;
}

.gallery img:hover {
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-0-transform: rotate(5deg);
	transform: rotate(5deg);
	transform-origin: 0% 0%;
	scale(2);
}


footer { /* Footer needs to be centered */
	font-size: .8em;
	color: darkgray;
	position: fixed;
	text-align: center;
	bottom: 0;
	z-index: 1;
}

/*
*	Media Queries
*/

@media screen and (max-width: 960px) {

}

